<!--
 {
	"customerName"	:	"",
	"customerPhone"	:	"9898980898",
	"website"	:	"",
	"customerEmail"	:	"cust12@whatmail.com",
	"customerAddress"	:	""
} -->

<style>
div {
  display : block;
}

</style>


<div>
<H1> Add Customer </H1>
 <form [formGroup]='customerInfo' (ngSubmit)='addCustomer()' >
 <div>

    <span> Name </span>  <input type='text' formControlName='name' >

</div>

<div>
      <span> Phone </span>
              <select placeholder='country code' formControlName='country' (ngModelChange)='setCountryCode($event)' *ngIf="!country_code" >
                    <option *ngFor="let country of countries"  value={{country.country_name}}>
                            {{country.country_name}}
                </option>
                </select>
      <span> {{country_code}} </span>
      <input type='text' formControlName='phone'>

</div>

 <div>
   <span> Website  </span> <input type='text' formControlName='website'>
 </div>

 <div>
   <span> Email </span> <input type='text' formControlName='email'>
</div>

 <div>
        <span> Address </span>
      <input type='text' placeholder='Street' formControlName='Street'>
        <input type='text' placeholder='city'  formControlName='city'>
        <input placeholder='state' type='text' formControlName='state'>

 </div>

 <div>
   <input type='submit' value='submit'>
 </div>
 </form>
</div>
