

<button *ngIf='!addProposaltemp' mat-button (click)="addProposal()">Add Proposal</button>


<div *ngIf='addProposaltemp' >
<app-new-proposal></app-new-proposal>
</div>


    <button *ngIf='addProposaltemp' mat-button (click)="addProposal()">Close</button>

<div>
     <!-- <div *ngIf='dataSource.length == 0'>
        <H1> You have not added Proposal Yet </H1>
     </div> -->

     <div *ngIf='dataSource'>


            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>

              <div class="mat-elevation-z8">
                  <table mat-table
                  [dataSource]="dataSource" multiTemplateDataRows
                  class="mat-elevation-z8">
             <ng-container   matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <!-- <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th> -->

               <th mat-header-cell  *matHeaderCellDef> {{column}} </th>
               <td mat-cell *matCellDef="let element" (click)='selectProposal(element)'> {{element[column]}} </td>

             </ng-container>

             <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
             <ng-container matColumnDef="expandedDetail">
               <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                 <div class="example-element-detail"
                      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                   <!-- <div class="example-element-diagram">
                     <div class="example-element-customerName"> {{element.customerName}} </div>
                     <div class="example-element-packageListName"> {{element.packageListName}} </div>
                     <div class="example-element-packageTypeName"> {{element.packageTypeName}} </div>
                     <div class="example-element-proposalStatusName"> {{element.proposalStatusName}} </div>
                     <div class="example-element-created_at"> {{element.created_at}} </div>
                   </div> -->
                   <div class="example-element-description">
                     <h4> Project Details </h4>
                      <p> {{element.proposal_details}} </p>
                      <div>
                        <span> Status </span>
                        <select [(ngModel)]='slctedproposalStatus' (change)='changeStatus()'>
                        <option *ngFor='let status of proposalStatus' [ngValue]="status.id"  > {{status.name}} </option>
                        </select>

                      </div>
                   </div>
                 </div>
               </td>
             </ng-container>

             <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
             <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                 class="example-element-row"
                 [class.example-expanded-row]="expandedElement === element"
                 (click)="expandedElement = expandedElement === element ? null : element">
             </tr>
             <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
           </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>


      </div>

 </div>
